:root {
  /* <-- Global */
  --font-family: 'Quantico', Helvetica, Arial, sans-serif;

  /* COLOURS */

  --black: hwb(200 1% 72%);
  --white: #fff;

  --bg: var(--black);

  --color-build: hwb(199 56% 10%);
  --color-cloud: hwb(191 89% 0%);
  --color-databases: hwb(43 1% 0%);
  --color-framework: hwb(193 38% 2%);
  --color-interests: hwb(0 14% 8%);
  --color-library: hwb(12 32% 9%);
  --color-other: hwb(218 55% 32%);
  --color-programming-language: hwb(206 0% 17%);
  --color-saas-paas: hwb(173 16% 38%);
  --color-server: hwb(198 0% 54%);
  --color-want-to-learn: hwb(272 14% 25%);

  /* COLUMNS */
  --periodic-table-columns: 18;
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font-family);
}
