.periodic-table {
  padding: 2rem;
  display: grid;
  grid-template-areas:
    'a01 a02 a03 a04 a05 a06 a07 a08 a09 a10 a11 a12 a13 a14 a15 a16 a17 a18'
    'b01 b02 b03 b04 b05 b06 b07 b08 b09 b10 b11 b12 b13 b14 b15 b16 b17 b18'
    'c01 c02 c03 c04 c05 c06 c07 c08 c09 c10 c11 c12 c13 c14 c15 c16 c17 c18'
    'd01 d02 d03 d04 d05 d06 d07 d08 d09 d10 d11 d12 d13 d14 d15 d16 d17 d18'
    'e01 e02 e03 e04 e05 e06 e07 e08 e09 e10 e11 e12 e13 e14 e15 e16 e17 e18'
    'f01 f02 f03 f04 f05 f06 f07 f08 f09 f10 f11 f12 f13 f14 f15 f16 f17 f18'
    'g01 g02 g03 g04 g05 g06 g07 g08 g09 g10 g11 g12 g13 g14 g15 g16 g17 g18'
    'h01 h02 h03 h04 h05 h06 h07 h08 h09 h10 h11 h12 h13 h14 h15 h16 h17 h18'
    'i01 i02 i03 i04 i05 i06 i07 i08 i09 i10 i11 i12 i13 i14 i15 i16 i17 i18';

  gap: 10px;
  grid-template-columns: repeat(var(--periodic-table-columns), 1fr);
  max-width: 1600px;
}

.periodic-table li {
  list-style: none;
  border: 4px solid var(--bg);
  border-radius: 8px;
  place-content: center;
  display: grid;
  height: 5rem;
  width: 5rem;
}
.periodic-table li:hover {
  background-color: var(--bg);
  transform: scale(1.5);
}

.periodic-table li span {
  text-align: center;
  font-size: 0.85em;
}

/* Hacking variables */
.periodic-table li.build {
  --bg: var(--color-build);
}
.periodic-table li.cloud {
  --bg: var(--color-cloud);
}
.periodic-table li.databases {
  --bg: var(--color-databases);
}
.periodic-table li.framework {
  --bg: var(--color-framework);
}
.periodic-table li.interests {
  --bg: var(--color-interests);
}
.periodic-table li.library {
  --bg: var(--color-library);
}
.periodic-table li.other {
  --bg: var(--color-other);
}
.periodic-table li.programming-language {
  --bg: var(--color-programming-language);
}
.periodic-table li.saas-paas {
  --bg: var(--color-saas-paas);
}
.periodic-table li.server {
  --bg: var(--color-server);
}
.periodic-table li.want-to-learn {
  --bg: var(--color-want-to-learn);
}
